<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adzc.elevenapi.mapper.FeedPostMapper">
  <resultMap id="BaseResultMap" type="org.adzc.elevenapi.domain.FeedPost">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feed_post
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.adzc.elevenapi.domain.FeedPost">
    insert into feed_post (id, user_id, "text", 
      photo_url, created_at)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{text,jdbcType=VARCHAR}, 
      #{photoUrl,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.adzc.elevenapi.domain.FeedPost">
    update feed_post
    set user_id = #{userId,jdbcType=BIGINT},
      "text" = #{text,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, "text", photo_url, created_at
    from feed_post
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, "text", photo_url, created_at
    from feed_post
  </select>
</mapper>