<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adzc.elevenapi.mapper.InvitationSignUpMapper">
  <resultMap id="BaseResultMap" type="org.adzc.elevenapi.domain.InvitationSignUp">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="invitation_id" jdbcType="BIGINT" property="invitationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sign_up_time" jdbcType="TIMESTAMP" property="signUpTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invitation_id, user_id, sign_up_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invitation_sign_up
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey">
    delete from invitation_sign_up
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.adzc.elevenapi.domain.InvitationSignUp" useGeneratedKeys="true">
    insert into invitation_sign_up (invitation_id, user_id, sign_up_time
      )
    values (#{invitationId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{signUpTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.adzc.elevenapi.domain.InvitationSignUp" useGeneratedKeys="true">
    insert into invitation_sign_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invitationId != null">
        invitation_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="signUpTime != null">
        sign_up_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invitationId != null">
        #{invitationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="signUpTime != null">
        #{signUpTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.adzc.elevenapi.domain.InvitationSignUp">
    update invitation_sign_up
    <set>
      <if test="invitationId != null">
        invitation_id = #{invitationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="signUpTime != null">
        sign_up_time = #{signUpTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.adzc.elevenapi.domain.InvitationSignUp">
    update invitation_sign_up
    set invitation_id = #{invitationId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      sign_up_time = #{signUpTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>