<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adzc.elevenapi.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.adzc.elevenapi.domain.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password_hash" jdbcType="VARCHAR" property="passwordHash" />
    <result column="tier" jdbcType="VARCHAR" property="tier" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.adzc.elevenapi.domain.User">
    insert into user (id, `identity`, email,
      phone, password_hash, tier, 
      photo_url, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{identity,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR}, #{tier,jdbcType=VARCHAR}, 
      #{photoUrl,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.adzc.elevenapi.domain.User">
    update user
    set `identity` = #{identity,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password_hash = #{passwordHash,jdbcType=VARCHAR},
      tier = #{tier,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `identity`, email, phone, password_hash, tier, photo_url, created_at, 
    updated_at
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `identity`, email, phone, password_hash, tier, photo_url, created_at, 
    updated_at
    from user
  </select>
</mapper>