<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adzc.elevenapi.mapper.UserProfileMapper">
  <resultMap id="BaseResultMap" type="org.adzc.elevenapi.domain.UserProfile">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="height_cm" jdbcType="SMALLINT" property="heightCm" />
    <result column="weight_kg" jdbcType="SMALLINT" property="weightKg" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="zodiac" jdbcType="VARCHAR" property="zodiac" />
    <result column="drinking" jdbcType="VARCHAR" property="drinking" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="hide_photos" jdbcType="BIT" property="hidePhotos" />
    <result column="first_login" jdbcType="BIT" property="firstLogin" />
    <result column="gallery_json" jdbcType="LONGVARCHAR" property="galleryJson" />
    <result column="hobbies" jdbcType="LONGVARCHAR" property="hobbies" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eleven..user_profile
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.adzc.elevenapi.domain.UserProfile">
    insert into eleven..user_profile (user_id, nickname, avatar_url, 
      gender, age, birthday, 
      height_cm, weight_kg, province, 
      city, profession, zodiac, 
      drinking, wechat, updated_at, 
      hide_photos, first_login, gallery_json, 
      hobbies)
    values (#{userId,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{heightCm,jdbcType=SMALLINT}, #{weightKg,jdbcType=SMALLINT}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{zodiac,jdbcType=VARCHAR}, 
      #{drinking,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{hidePhotos,jdbcType=BIT}, #{firstLogin,jdbcType=BIT}, #{galleryJson,jdbcType=LONGVARCHAR}, 
      #{hobbies,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.adzc.elevenapi.domain.UserProfile">
    update eleven..user_profile
    set nickname = #{nickname,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      height_cm = #{heightCm,jdbcType=SMALLINT},
      weight_kg = #{weightKg,jdbcType=SMALLINT},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      zodiac = #{zodiac,jdbcType=VARCHAR},
      drinking = #{drinking,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      hide_photos = #{hidePhotos,jdbcType=BIT},
      first_login = #{firstLogin,jdbcType=BIT},
      gallery_json = #{galleryJson,jdbcType=LONGVARCHAR},
      hobbies = #{hobbies,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select user_id, nickname, avatar_url, gender, age, birthday, height_cm, weight_kg, 
    province, city, profession, zodiac, drinking, wechat, updated_at, hide_photos, first_login, 
    gallery_json, hobbies
    from eleven..user_profile
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, nickname, avatar_url, gender, age, birthday, height_cm, weight_kg, 
    province, city, profession, zodiac, drinking, wechat, updated_at, hide_photos, first_login, 
    gallery_json, hobbies
    from eleven..user_profile
  </select>
</mapper>